<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link href="~/css/new styles/style.css" rel="stylesheet" type="text/css">
    <script src="~/js/new js/jquery.min.js"></script>
    <script src="~/js/new js/script.js"></script>
</head>

<body style="background-color: #fafafa">
    <div class="gradient-background">
        <div class="top-link-container">
            <a><img class="small-profile-pic" src="~/images/new images/WhatsApp Image 2019-07-12 at 18.50.28@3x.png" />Misagq</a>
            <a>Challenges</a>
            <img src="~/images/new images/Group 662.svg" />
            <a>Contact us</a>
            <a>about us</a>
        </div>
    </div>
    @RenderBody()
</body>

</html>