@using Microsoft.Extensions.Options


<!doctype html>
<html class="blurred-background">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link href="~/css/new styles/style.css" rel="stylesheet" type="text/css">
    <script src="~/js/new js/jquery.min.js"></script>
    <script src="~/js/new js/script.js"></script>

</head>

<body onLoad="init()">
    @RenderBody();
</body>

</html>