@using Microsoft.Extensions.Options


<!doctype html>
<html class="blurred-background">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link href="~/css/new styles/style.css" rel="stylesheet" type="text/css">
    <script src="~/js/new js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.bootstrap-v4.min.css" />
    <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/new js/script.js"></script>

</head>

<body onLoad="init()">
    <div id="loginContainer" class="loginContainer">
        <div class="loginContainerRightSide">
            <div class="registerSideText">Hello!</div>
            <div class="registerSidePic">
                <img src="~/images/new images/Group 937.svg" alt="coffee" />
            </div>
        </div>
        @RenderBody()
    </div>
</body>

</html>