@using Microsoft.Extensions.Options

@model SiliconAward.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutBlurredBackground.cshtml";
}

<div class="loginContainerLeftSide">
    <form asp-action="Login" asp-controller="Account" method="post">
        @Html.AntiForgeryToken()
        <div class="leftSideLogo leftSideLogo2"></div>
        <input asp-for="EmailOrUsername" class="registerField" placeholder="Username or Email" type="text" />
        <span asp-validation-for="EmailOrUsername" class="validationEmail"></span>
        <input asp-for="Password" class="registerField registerFieldNotTop" id="passwordField" placeholder="Password" type="password" />
        <img onClick="togglePasswordView()" id="passwordEyeToggle" src="~/images/new images/password eye.svg" alt="show password" />
        <span asp-validation-for="Password" class="validationEmail validationEmailLast"></span>
        <a href="forget" class="forgetLink">Forget Your Password?</a>
        <input id="loginSubmitButton" onclick="this.disabled=true; this.form.submit();" class="registerButton registerButtonLogin" value="Login" type="submit" />
        <div class="registerLoginText">Don't have an account?<a href="register"> Register</a></div>
    </form>
</div>
