@using Microsoft.AspNetCore.Identity
@using SiliconAward.ViewModels

@model VerifyEmailViewModel

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_LayoutBadged.cshtml";
}

<div class="Lets-confirm-your-email">Let's confirm your email</div>
<div class="type-in-code">type in the code we sent to <span>@Model.Email</span></div>
<div class="code-entry">
    <input class="code-entry-input" id="codeInput1" type="text" maxlength="1" />
    <input class="code-entry-input" id="codeInput2" type="text" maxlength="1" />
    <input class="code-entry-input" id="codeInput3" type="text" maxlength="1" />
    <input class="code-entry-input" id="codeInput4" type="text" maxlength="1" />
    <input class="code-entry-input" id="codeInput5" type="text" maxlength="1" />
    <input class="code-entry-input" id="codeInput6" type="text" maxlength="1" />
</div>
<form id="theForm" asp-action="VerifyEmail" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="VerifyCode" id="confirmHiddenField" />
    <input type="hidden" asp-for="Email" />
    <span asp-validation-for="VerifyCode" class="validationInvalidCode"></span>
    <input class="registerButton ConfirmButton" value="Confirm" type="submit" />
</form>
<a class="Didnt-receive-the-code" href="resend">Didn't receive the code? Send again</a>