<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body onload="initInputEvents()">
    <div class="topBadgeBack">
        <img src="images/Group 662.svg" class="topBadgeFront" />
    </div>
    <div class="roadImagesContainer">
        <div class="roadCircleLeft"><img src="images/Ellipse 85.svg" />
            <div>verification email</div>
        </div>
        <div class="roadLine"></div>
        <div class="roadCircleRight">
            <div>Profile</div>
        </div>
    </div>
    <div class="Lets-confirm-your-email">Let's confirm your email</div>
    <div class="type-in-code">type in the code we sent to <span>EMAIL@GMAIL.COM</span></div>
    <div class="code-entry">
        <input class="code-entry-input" type="text" maxlength="1" />
        <input class="code-entry-input" type="text" maxlength="1" />
        <input class="code-entry-input" type="text" maxlength="1" />
        <input class="code-entry-input" type="text" maxlength="1" />
        <input class="code-entry-input" type="text" maxlength="1" />
        <input class="code-entry-input" type="text" maxlength="1" />
    </div>

    <input class="registerButton ConfirmButton" value="Confirm" type="button" />
    <a class="Didnt-receive-the-code" href="resend">Didn't receive the code? Send again</a>
</body>

</html>