@{
    Layout = "~/Views/Shared/_LayoutProfileTop.cshtml";
    ViewData["Title"] = "Challenge Select";
}

<div class="challenge-select-container">
    <div class="are-you-ready-text">Misagh mohamadzadeh Are you ready?</div>
    <div class="identify-your-skills-text">
        Identify your skills to take part in the first challenge created.
        Tests are done online at specified hours and you will lose the challenge if you do not head online
    </div>
</div>