
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <link href="~/css/new styles/style.css" rel="stylesheet" type="text/css">
    <script src="~/js/new js/jquery.min.js"></script>
    <script src="~/js/new js/script.js"></script>
</head>

<body style="background-color: #fafafa">
    <div class="gradient-background">
        <div class="top-link-container">
            <a><img class="small-profile-pic" src="~/images/new images/WhatsApp Image 2019-07-12 at 18.50.28@3x.png" />Misagq</a>
            <a>Challenges</a>
            <img src="~/images/new images/Group 662.svg" />
            <a>Contact us</a>
            <a>about us</a>
        </div>
    </div>
    <div class="main-container">
        <div class="left-container">
            <div class="profile-pic"></div>
            <a href="/Account/Edit" class="edit-profile-button">
                <img src="~/images/edit button text.svg" class="edit-profile-button-pic" /><span>Edit Profile</span>
            </a>
            <div class="profile-name">Misagh Mohammadzadeh</div>
            <div class="profile-location">Rasht,Gilan,Iran</div>
            <div class="question-award-flex-container">
                <div class="award-profile"><img src="~/images/trophy.svg" /><span class="profile-field-top-text">Award</span><br /><span class="profile-field-bottom-text">1.000.000 USD</span></div>
                <div class="question-profile"><img src="~/images/help.svg" /><span class="profile-field-top-text">Question</span><br /><span class="profile-field-bottom-text">100</span></div>
                <div class="activity-profile selected-profile-square"><img src="~/images/activity square.svg" /><br /><span>Activity</span></div>
                <div class="report-profile"><img src="~/images/report.svg" /><br /><span>Report</span></div>
                <div class="suggestions-profile"><img src="~/images/suggestions.svg" /><br /><span>Suggestions</span></div>
                <div class="dummy-profile"></div>
            </div>
        </div>
        <div class="right-container">
            <input class="search-input" type="text" placeholder="Search challenge name" />
            <img class="search-background-image" src="~/images/magnifying-glass.png" />
            <div class="challenges-container">
                <div class="challenge-item challenge-item-header">
                    <div>Challenge</div>
                    <div>Date</div>
                    <div>Status</div>
                </div>
                <div class="challenge-item">
                    <div class="challenge-item-item1">CSS</div>
                    <div class="challenge-item-item2">tuesday,September 3,2019 </div>
                    <div class="challenge-item-item3">Expired</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>