
@{
    Layout = "~/Views/Shared/_LayoutProfileTop.cshtml";
    ViewData["Title"] = "Dashboard";
}

    <div class="main-container">
        <div class="left-container">
            <div class="profile-pic"></div>
            <a href="/Account/Edit" class="edit-profile-button">
                <img src="~/images/edit button text.svg" class="edit-profile-button-pic" /><span>Edit Profile</span>
            </a>
            <div class="profile-name">Misagh Mohammadzadeh</div>
            <div class="profile-location">Rasht,Gilan,Iran</div>
            <div class="question-award-flex-container">
                <div class="award-profile"><img src="~/images/trophy.svg" /><span class="profile-field-top-text">Award</span><br /><span class="profile-field-bottom-text">1.000.000 USD</span></div>
                <div class="question-profile"><img src="~/images/help.svg" /><span class="profile-field-top-text">Question</span><br /><span class="profile-field-bottom-text">100</span></div>
                <div class="activity-profile selected-profile-square"><img src="~/images/activity square.svg" /><br /><span>Activity</span></div>
                <div class="report-profile"><img src="~/images/report.svg" /><br /><span>Report</span></div>
                <div class="suggestions-profile"><img src="~/images/suggestions.svg" /><br /><span>Suggestions</span></div>
                <div class="dummy-profile"></div>
            </div>
        </div>
        <div class="right-container">
            <input class="search-input" type="text" placeholder="Search challenge name" />
            <img class="search-background-image" src="~/images/magnifying-glass.png" />
            <div class="challenges-container">
                <div class="challenge-item challenge-item-header">
                    <div>Challenge</div>
                    <div>Date</div>
                    <div>Status</div>
                </div>
                <div class="challenge-item">
                    <div class="challenge-item-item1">CSS</div>
                    <div class="challenge-item-item2">Tuesday, September 3,2019 </div>
                    <div class="challenge-item-item3">
                        <div class="couple-digits">01</div>
                        <div class="couple-digits">05</div>
                        <div class="couple-digits">12</div>
                        <div class="couple-digits">31</div>
                        <div class="couple-digits">00</div>
                    </div>
                </div>
                <div class="challenge-item">
                    <div class="challenge-item-item1">HTML</div>
                    <div class="challenge-item-item2">Tuesday, September 3,2019 </div>
                    <div class="challenge-item-item3">
                        <div class="color-button-rounded red-button-rounded">Expired</div>
                    </div>
                </div>
                <div class="challenge-item">
                    <div class="challenge-item-item1">JavaScript</div>
                    <div class="challenge-item-item2">Tuesday, September 3,2019 </div>
                    <div class="challenge-item-item3">
                        <div class="color-button-rounded green-button-rounded">Done</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
