@using SiliconAward.ViewModels

@model FieldSelectViewModel

@{
    Layout = "~/Views/Shared/_LayoutProfileTopFull.cshtml";
    ViewData["Title"] = "Readiness";
}

<div class="readiness-text">
    Your readiness has been recorded
    You will be notified 24 hours before the challenge begins
</div>
<img class="readiness-image-1" src="~/images/background full 2.png" />   
<img class="readiness-image-2" src="~/images/background full 1.svg" />
<div class="go-home-button" onclick="location.href='dashboard'">Go to Home</div>